@*<h3>
        Please contact us by sending an email using the button below

    </h3>

    <email address="info@@bethanyspieshop.com" content="Contact us"></email>*@

<!-- contact -->
<section class="contacts">
    <div class="container">
        <h2 data-aos="zoom-in-up">Get in Touch</h2>

        <div class="row contacts-row">

            <div class="col-md-4">

                <!-- Phone Numbers -->
                <div class="contact-number">
                    <h6>
                        <i class="fas fa-mobile-alt"></i>
                        Phone Numbers
                    </h6>
                    <p class="text-secondary">1-234-567-890</p>
                    <p class="text-secondary">1-987-654-321</p>
                </div>

                <!-- Email Address -->
                <div class="contact-mail">
                    <h6><i class="fa fa-envelope-o fa-fw"></i>Email Address</h6>
                    <p class="text-secondary">contact@VetinärOnline.com</p>
                </div>

                <!-- Business Hours -->
                <div class="contact-hours">
                    <h6><i class="far fa-clock"></i>Business Hours</h6>
                    <p class="text-secondary">Mon-Fri : 9am - 9pm</p>
                    <p class="text-secondary">Sat : 9am - 2pm</p>
                </div>

            </div>
            <div class="col-md-8">

                <!-- Contact Form -->
                <form class="contact-form">
                    <div class="row">

                        <!-- Name Input -->
                        <div class="col-md-6 form-group">
                            <input type="text" placeholder="Name" class="form-control" />
                        </div>

                        <!-- Email Input -->
                        <div class="col-md-6 form-group">
                            <input type="email" placeholder="Email" class="form-control" />
                        </div>
                    </div>

                    <!-- Subject Input -->
                    <div class="form-group">
                        <input type="text" name="subject" placeholder="Subject" class="form-control" />
                    </div>

                    <!-- Message Input -->
                    <div class="form-group">
                        <textarea placeholder="Message" rows="7" class="form-control contact-message"></textarea>
                    </div>

                    <!-- Send Message Button -->
                    <button type="submit" class="btn btn-primary w-100">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="social bg-darken" style="background-color:#F5F5F5">
    <div class="container ">
      
    </div>
</section>

<br />

<section class="map">
    <div class="location mt-3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2227.0355355522756!2d12.714557115942872!3d56.06999588063939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652326c21bb2767%3A0x49f80a776aa3cd01!2sBergav%C3%A4gen%203%2C%20254%2066%20Helsingborg!5e0!3m2!1sen!2sse!4v1614697382446!5m2!1sen!2sse" width="1100" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</section>