@{
    ViewData["Title"] = "Home Page";
}







<div class="row">
    <div class="col-md-8">

        <img class="card-img" style="padding-top: 50px;" src="~/images/Cover main.jpg" alt="doctor image" />
    </div>
    <div class="col-md-4 text-center">


        <h1 class="" style=" font-family: 'Akaya Telivigala', cursive;
        padding-top: 150px;
        color: #747a8a">
            “Providing quality veterinary care for dogs & cats....”
        </h1>

        <div class="">
            <p class="button  mr-3" style="margin-top: 180px">
                <a class="btn btn-primary"
                   asp-controller="Appointments"
                   asp-action="List"
                  >Book Appoinment</a>
            </p>
        </div>
    </div>

</div>


<!--<section class="Pricing mb-3">
    <div class="container justify-content-center">-->
        <!--<h1 class="text-center">PRICING</h1>
        <br>-->
        <!-- 1st-->
        <!--<div class="row">
            <div class="col-sm-12 col-md-12 d-flex flex-wrap justify-content-center">

                <div class="card justify-content-center mt-3 " style="width: 18rem;margin-left: 10px;margin-right: 10px;">
                    <div class="flex pt-3">
                        <h5 class="card-title text-center text-white ">FLEX</h5>

                    </div>

                    <br>


                    <div class="card-body text-center">

                        <p class="price">
                            <span class="dol">$</span><span class="num">20</span><span class="mon">/class</span>
                        </p>
                        <p class="desc">
                            Just Drop In<br>
                            No Tickets Discount<br>
                            Free Trial class<br>
                        </p>
                        <a href="#" class=" Join btn btn-primary w-100 ">Join Us</a>
                    </div>
                </div>-->



                <!--2nd-->


                <!--<div class="card justify-content-center mt-3" style="width: 18rem;margin-left: 10px;margin-right: 10px;">
                    <div class="com pt-3">

                        <h5 class="card-title text-center text-white">COMMUNITY</h5>


                    </div>
                    <br>
                    <div class="card-body text-center">

                        <p class="price">
                            <span class="dol">$</span><span class="num">20</span><span class="mon">/class</span>
                        </p>
                        <p class="desc">
                            Just Drop In<br>
                            No Tickets Discount<br>
                            Free Trial class<br>
                        </p>
                        <a href="#" class="Us btn btn-primary w-100">Join Us</a>
                    </div>


                </div>-->
                <!--3rd-->


                <!--<div class="card justify-content-center mt-3" style="width: 18rem;margin-left: 10px;margin-right: 10px;">
                    <div class="pre pt-3">
                        <h5 class="card-title text-center text-white">PREMIUM</h5>

                    </div>
                    <div class="card-body text-center">


                        <br>
                        <p class="price">
                            <span class="dol">$</span><span class="num">20</span><span class="mon">/class</span>
                        </p>
                        <p class="desc">
                            Just Drop In<br>
                            No Tickets Discount<br>
                            Free Trial class<br>
                        </p>
                        <a href="#" class=" Join btn btn-primary w-100">Join Us</a>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>-->

