@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-md-8">
            
            <img class="card-img" style="padding-top: 50px;"  src="~/images/Cover main.jpg" alt="doctor image" />
        </div>
        <div class="col-md-4 text-center">

           
            <h1 class="" style=" font-family: 'Akaya Telivigala', cursive;
        padding-top: 150px;
        color: #747a8a">
                “Providing quality veterinary care for dogs & cats....”
            </h1>
        </div>

    </div>
