@model PatientDetailViewModel


<h4>Your Appointment has been booked</h4>


<table class="table border  table-hover text-secondary">
    <thead>
        <tr class="">
            <th scope="col"> Doctor Name</th>
            <th scope="col"> Patient Name</th>
            <th scope="col">Appointment Time</th>
            <th scope="col">Duration</th>

        </tr>

    </thead>

    <tbody class="">


        @foreach (var item in Model.PatientDetails)
        {
        <tr>
            <td class="text-primary">
                @Html.DisplayFor(modelitem => item.Appointment.Doctor.DOctorName)
            </td>
            <td class="text-primary">
                @Html.DisplayFor(modelitem => item.Patient.FirstName)
            </td>
            <td class="">
                @Html.DisplayFor(modelitem => item.Appointment.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Appointment.Duration.TotalMinutes) mins
            </td>


        </tr>

        }
    </tbody>

</table>


















