@model Docter_MVC_Miniproject3.Views.ViewModels.DoctorViewModel

@{
    ViewData["Title"] = "Create";
}

<h4> Add Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data" asp-controller="Doctors">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DoctorName " class="control-label text-secondary">Doctor Name</label>
                <input asp-for="DoctorName" class="form-control" />
                <span asp-validation-for="DoctorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialization" class="control-label text-secondary"> Specialization</label>
                <input asp-for="Specialization" class="form-control" />
                <span asp-validation-for="Specialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label text-secondary"> Category</label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label text-secondary">Image</label>
                <input type="file" name="files" multiple asp-for="ImageUrl" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

          
                <div class="row inline-d-flex">
                    <div class="form-group mr-3">
                        <input type="submit" value="Add A Doctor" class="btn btn-primary" />
                    </div>
                    <div>
                        <a class="btn btn-primary" asp-action="List">Back to List</a>
                    </div>
                </div>
           

        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
